@{
    ViewBag.Title = "Báo cáo xuất kho";
}
<div class="row head">
    <div class="col-md-5 col-sm-12 col-xs-12">
        <h4 style="color: #6BABDF;">@ViewBag.Title</h4>
    </div>
</div>
<hr class="custom">
<form id="formload">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-4 col-sm-4 col-xs-12">
                Cửa hàng:
                @Html.DropDownList("StoreId", null, null, new { @class = "form-control" })
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                Khách hàng:
                @Html.DropDownList("CustomerId", null,"Tất cả", new { @class = "form-control" })
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                Người lập phiếu:
                @Html.DropDownList("EmployeeId", null,"Tất cả", new { @class = "form-control" })
            </div>
        </div>

        <br />
        <div class="form-group">
            <div class="col-sm-4 col-xs-12">
                <label>
                    Từ ngày
                </label>                
                @{ var FromTime = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).ToString("yyyy-MM-dd");}
                <table class="dxeTextBoxSys dxeTextBox_Metropolis dxeTextBoxDefaultWidthSys text-with-line">
                    <tbody>
                        <tr>
                            <td style="width: 100%;">
                                <input type="date" name="FromDate" value="@FromTime"  class="dxeEditArea_Metropolis dxeEditAreaSys fullLineTextbox"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-4 col-xs-12">
                <label>
                    Đến ngày
                </label>
                @{ var ToTime = DateTime.Now.Date.AddDays(1).AddMilliseconds(-1).ToString("yyyy-MM-dd");}
                <table class="dxeTextBoxSys dxeTextBox_Metropolis dxeTextBoxDefaultWidthSys text-with-line">
                    <tbody>
                        <tr>
                            <td style="width: 100%;">
                                <input type="date" name="ToDate" value="@ToTime"  class="dxeEditArea_Metropolis dxeEditAreaSys fullLineTextbox"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</form>
<hr class="custom">
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <a id="btntim" class="btn btn-warning col-sm">Xem báo cáo</a>
    </div>
</div>
<div id="content">
</div>
@section head{
    <!--Gọi ở head trong _Layout-->
    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
        new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor },
        new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
        new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Report },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Scheduler },
        new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList }
    )
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
        new Script { ExtensionSuite = ExtensionSuite.GridView },
        new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
        new Script { ExtensionSuite = ExtensionSuite.Editors },
        new Script { ExtensionSuite = ExtensionSuite.Chart },
        new Script { ExtensionSuite = ExtensionSuite.Report },
        new Script { ExtensionSuite = ExtensionSuite.Scheduler },
        new Script { ExtensionSuite = ExtensionSuite.TreeList }
    )
}
@section scripts {
    <script>
        $(document).on("click", "#btntim", function () {
            $.ajax({
                type: "POST",
                url: "/StockOut/Report/",
                data: $("#formload").serialize(),
                success: function (data) {
                    $("#content").html(data);
                }
            });
        });
    </script>
}

