@model IEOtherMasterModel

@{
    ViewBag.Title = "Kiểm kho cuối ngày";
}
<hr class="custom">
<div class="dxpnlControl_Metropolis" style="font-family: Helvetica; font-size: 14px; width: 100%;">
    <div class="row head">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <h4 style="color: #6BABDF;">Kiểm kho cuối ngày</h4>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12" id="divOrderCode">
            <h4>Mã đơn hàng: <span></span> <a class="glyphicon glyphicon-refresh" title="Cập nhật mã đơn hàng" id="UpdateOrderCode"></a></h4>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            @*<a class="glyphicon glyphicon-refresh">Làm mới</a>*@
        </div>
    </div>
    <hr class="custom">
    <div class="row">
        @using (Html.BeginForm("Save", null, FormMethod.Post, new { id = "frmHeader" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(m => m.Actived)
            @Html.Hidden("IdCustomer")
            @Html.Hidden("FullName")
            <input type="hidden" name="IEOtherMasterCode" id="IEOtherMasterCode" />
            <div class=" col-md-6">
                <div class="panel panel-default" style="min-height: 195px;">
                    <div class="panel-body form-horizontal">
                        <div class="form-group">
                            <div class="col-md-4 col-sm-4 col-xs-12 control-label">
                                @Html.RequiredLabelFor(model => model.InventoryTypeId)
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label">
                                @Html.DropDownList("InventoryTypeId", null, null, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 col-sm-4 col-xs-12 control-label">
                                @Html.RequiredLabelFor(model => model.WarehouseId)
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label">
                                @Html.DropDownList("WarehouseId", null, null, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Note, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label">
                                <table class="dxeTextBoxSys dxeTextBox_Metropolis dxeTextBoxDefaultWidthSys text-with-line">
                                    <tbody>
                                        <tr>
                                            <td class="dxic" style="width: 100%;">
                                                @Html.TextBoxFor(m => m.Note, new { @class = "dxeEditArea_Metropolis dxeEditAreaSys fullLineTextbox" })
                                                @Html.ValidationMessageFor(model => model.Note)
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-md-6">
                <div class="panel panel-default" style="min-height: 195px;">
                    <div class="panel-body form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CustomerName, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label">
                                <div id="divCustomerId">
                                    <select name="CustomerName" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Phone, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label">
                                <table class="dxeTextBoxSys dxeTextBox_Metropolis dxeTextBoxDefaultWidthSys text-with-line">
                                    <tbody>
                                        <tr>
                                            <td class="dxic" style="width: 100%;">
                                                @Html.TextBoxFor(m => m.Phone, new { @class = "dxeEditArea_Metropolis dxeEditAreaSys fullLineTextbox" })
                                                @Html.ValidationMessageFor(model => model.Phone)
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SenderName, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label">
                                <table class="dxeTextBoxSys dxeTextBox_Metropolis dxeTextBoxDefaultWidthSys text-with-line">
                                    <tbody>
                                        <tr>
                                            <td class="dxic" style="width: 100%;">
                                                @Html.TextBoxFor(m => m.SenderName, new { @class = "dxeEditArea_Metropolis dxeEditAreaSys fullLineTextbox" })
                                                @Html.ValidationMessageFor(model => model.SenderName)
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ReceiverName, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label">
                                <table class="dxeTextBoxSys dxeTextBox_Metropolis dxeTextBoxDefaultWidthSys text-with-line">
                                    <tbody>
                                        <tr>
                                            <td class="dxic" style="width: 100%;">
                                                @Html.TextBoxFor(m => m.ReceiverName, new { @class = "dxeEditArea_Metropolis dxeEditAreaSys fullLineTextbox" })
                                                @Html.ValidationMessageFor(model => model.ReceiverName)
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @Html.Action("_CreateList")

        <div class="form-horizontal text-right">
            @Html.ActionLink("Hủy", "Index", null, new { @class = "btn btn-default custom-button btn-default minw100" })
            <a id="btnSave" class="btn btn-default custom-button btn-warning minw100">Lưu</a>
        </div>
        <div id="divAlert">
        </div>
    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/IEOtherMaster/create.js"></script>
    <script src="~/Scripts/IEOtherMaster/DungChung.js"></script>
    <script>
        GetOtherCode();
        $(document).on("click", "#UpdateOrderCode", function () {
            //alert("aaa");
            GetOtherCode();
        })
        $("select[name='InventoryTypeId']").on("change", function () {
            GetOtherCode();
        })
        function GetOtherCode() {
            var SelectedId = $("#InventoryTypeId").val();
            $.ajax({
                type: "POST",
                url: "/IEOtherMaster/UpdateOrderCode",
                data: {
                    type: SelectedId
                },
                success: function (OrderCode) {
                    $("#divOrderCode h4 span").html(OrderCode);
                    $("#IEOtherMasterCode").val(OrderCode);
                    //alert(OrderCode);
                }
            });
        }
    </script>
}