@model OrderMasterModel

@{
    ViewBag.Title = "Chi tiết thông tin đơn bán hàng";
}
<hr class="custom">
<div class="dxpnlControl_Metropolis" style="font-family: Helvetica; font-size: 14px; width: 100%;">
    <div class="row head">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <h4 style="color: #6BABDF;">Chi tiết thông tin đơn hàng</h4>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <h4>Mã đơn hàng: <span>@Html.DisplayFor(m => m.OrderCode)</span></h4>
        </div>
    </div>
    <hr class="custom">
    <div class="row">
        @using (Html.BeginForm("Save", null, FormMethod.Post, new { id = "frmHeader" }))
        {
            <div>
    @*        <div class=" col-md-6">
                <div class="panel panel-default" style="min-height: 195px;">
                    <div class="panel-body form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.WarehouseId, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(p => p.WarehouseModel.WarehouseName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SaleName, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(p => p.SaleName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PaymentMethodId, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(p => p.PaymentMethodModel.PaymentMethodName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.DebtDueDate, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(p => p.DebtDueDate)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Paid, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(p => p.Paid)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.MoneyTransfer, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(p => p.MoneyTransfer)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Note, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(p => p.Note)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-md-6">
                <div class="panel panel-default" style="min-height: 195px;">
                    <div class="panel-body form-horizontal text-left">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CompanyName, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(p => p.CompanyName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.TaxBillCode, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(p => p.TaxBillCode)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ContractNumber, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                 @Html.DisplayFor(p => p.ContractNumber)
                               
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.TaxBillDate, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(p => p.TaxBillDate)
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.CustomerId, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(p => p.CustomerModel.FullName)
                                </div>
                            </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.IdentityCard, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(p => p.IdentityCard)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Phone, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(p => p.Phone)
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Gender, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label  text-left">
                            
                                @if (@Model.Gender == true)
	                            {
		                                <span>Nam</span> 
	                            }
                                else
                                {
                                     <span>Nữ</span> 
                                }
                                </div>
                            </div>
                       
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(p => p.Email)
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.ProvinceId, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label  text-left">
                                @Html.DisplayFor(p => p.ProvinceModel.ProvinceName)
                                </div>
                            </div>
                     
                        <div class="form-group row">
                            @Html.LabelFor(model => model.DistrictId, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(p => p.DistrictModel.DistrictName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Address, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                               @Html.DisplayFor(p => p.Address)
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            </div>
             <div class=" col-md-6">
                <div class="panel panel-default" style="min-height: 195px;">
                    <div class="panel-body form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.StoreId, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @ViewBag.StoreName 
                            </div>
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.WarehouseId, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @ViewBag.WarhouseName
                            </div>
                        </div>
                        <hr class="custom">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CustomerId, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(p => p.CustomerModel.FullName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.CustomerLevelId, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @ViewBag.CustomerLevelName
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.IdentityCard, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(p => p.IdentityCard)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Phone, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(p => p.Phone)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.IdentityCard, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @if (@Model.Gender == true)
	                            {
		                                <span>Nam</span> 
	                            }
                                else
                                {
                                     <span>Nữ</span> 
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(p => p.Email)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProvinceId, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(p => p.ProvinceModel.ProvinceName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.DistrictId, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(p => p.DistrictModel.DistrictName)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-md-6">
                <div class="panel panel-default" style="min-height: 195px;">
                    <div class="panel-body form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.SaleName, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(p => p.SaleName)
                            </div>
                        </div>
                        <hr class="custom" />
                     
                          <div class="form-group">
                            @Html.LabelFor(model => model.CompanyName, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(p => p.CompanyName)
                            </div>
                        </div>
                          <div class="form-group">
                            @Html.LabelFor(model => model.TaxBillCode, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(p => p.TaxBillCode)
                            </div>
                        </div>
                          <div class="form-group">
                            @Html.LabelFor(model => model.ContractNumber, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(p => p.ContractNumber)
                            </div>
                        </div>
                          <div class="form-group">
                            @Html.LabelFor(model => model.TaxBillDate, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(p => p.TaxBillDate)
                            </div>
                        </div>
                          <div class="form-group">
                            @Html.LabelFor(model => model.Note, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(p => p.Note)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.DebtDueDate, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(p => p.DebtDueDate)
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
      
        @Html.Action("_DetailList", new { model = Model.OrderDetailModel.ToList() , BillDiscount = Model.BillDiscount.HasValue?Model.BillDiscount.Value:0, BillDiscountTypeId = Model.BillDiscountTypeId.HasValue? Model.BillDiscountTypeId.Value : 0 , BillVAT = Model.BillVAT.HasValue? Model.BillVAT.Value:0 , TotalPrice = Model.TotalPrice.HasValue? Model.TotalPrice.Value: 0, PaymentMethod = Model.PaymentMethodModel.PaymentMethodName, RemainingAmount = Model.RemainingAmount ,SumPrice = Model.OrderDetailModel.Sum(p => p.UnitPrice) }  )
        <div class="form-horizontal">
            @Html.ActionLink("Hủy", "Index", null, new { @class = "btn btn-default custom-button btn-default minw100" })
        </div>
        <div id="divAlert">
        </div>
    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}