@model IEnumerable<Website_NewsInfoModel>

@{
    ViewBag.Title = "Danh sách Tin tức";
}
<hr class="custom">
<div class="row head">
    <div class="col-md-3 col-sm-12 col-xs-12"><h4 style="color:#6BABDF;">@ViewBag.Title</h4></div>
</div>
<hr class="custom">
<table class="table table-hover dataTable table-bordered table-striped no-footer">
    <thead>
        <tr class="warning">
            <th class="text-center">
                STT
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Views)
            </th>
            <th class="actions text-center">@Resources.LanguageResource.Actions</th>
        </tr>
    </thead>
    <tbody>
        @{int i = 0;}
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td class="text-center">
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostDate)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.Views)
                </td>
                <td>
                    @Html.ActionLink("Xem", "Details", new { id = item.NewsID }, new { @class = "btn btn-default col-sm" })
                    @Html.ActionLink("Sửa", "Edit", new { id = item.NewsID }, new { @class = "btn btn-warning col-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
<p class="text-right has-btn-add-new" style="margin-top: 4px;">
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-default btn-warning" })
</p>