@model StoreModel
@{
    ViewBag.Title = "Xem chi tiết";
}
<hr class="custom">
<div class="dxpnlControl_Metropolis" style="font-family: Helvetica; font-size: 14px; width: 100%;">
    <div class="row head">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <h4 style="color: #6BABDF;">@ViewBag.Title</h4>
        </div>
    </div>
    <hr class="custom">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.StoreId)
        <div class="form-group">
            @Html.LabelFor(model => model.StoreCode, new { @class = "col-md-3 col-sm-3 col-xs-12 control-label" })
            <div class="col-md-5 col-sm-5 col-xs-12 control-label text-left">
                @Html.DisplayFor(m => m.StoreCode)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.StoreName, new { @class = "col-md-3 col-sm-3 col-xs-12 control-label" })
            <div class="col-md-5 col-sm-5 col-xs-12 control-label text-left">
                @Html.DisplayFor(m => m.StoreName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Phone, new { @class = "col-md-3 col-sm-3 col-xs-12 control-label" })
            <div class="col-md-5 col-sm-5 col-xs-12 control-label text-left">
                @Html.DisplayFor(m => m.Phone)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProvinceId, new { @class = "col-md-3 col-sm-3 col-xs-12 control-label" })
            <div class="col-md-5 col-sm-5 col-xs-12 control-label text-left">
                @Html.DisplayFor(m => m.ProvinceModel.ProvinceName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DistrictId, new { @class = "col-md-3 col-sm-3 col-xs-12 control-label" })
            <div class="col-md-5 col-sm-5 col-xs-12 control-label text-left">
                @Html.DisplayFor(m => m.DistrictModel.DistrictName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Address, new { @class = "col-md-3 col-sm-3 col-xs-12 control-label" })
            <div class="col-md-5 col-sm-5 col-xs-12 control-label text-left">
                @Html.DisplayFor(m => m.Address)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Actived, new { @class = "col-md-3 col-sm-3 col-xs-12 control-label" })
            <div class="col-md-5 col-sm-5 col-xs-12 control-label text-left">
                @if (Model.Actived == true)
                {
                    <i class="glyphicon glyphicon-ok"></i>
                }
                else
                {
                    <i class="glyphicon glyphicon-remove"></i>
                }
            </div>
        </div>
        <hr class="custom">
        <div class="form-horizontal col-md-offset-3 col-sm-offset-3">
            @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-default custom-button minw100" })
            @Html.ActionLink("Sửa", "Edit", new { id = Model.StoreId}, new { @class = "btn btn-warning custom-button minw100" })
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).on("change", "#ProvinceId", function () {
            var provinceIdFromDropdownList = $(this).val();
            $.ajax({
                type: "POST",
                url: "/Store/GetDistrictBy",
                data: {
                    ProvinceId: provinceIdFromDropdownList
                },
                dataType: "json",
                success: function (jsonData) {
                    var listItems = "";

                    $.each(jsonData, function (i, item) {
                        listItems += "<option value='" + item.Id + "'>" + item.Name + "</option>";
                    });

                    $("#DistrictId").html(listItems);
                }
            });
            return false;
        });
    </script>
}