@model List<ProductImageModel>
@{int i = 0;
int k = -1;}
@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        i++;
        k++;
        <input type="hidden" name="ListImage[@k].ProductImageId" class="ListImage-ProductImageId" value="@item.ProductImageId">
        <input type="hidden" name="ListImage[@k].ProductId" class="ListImage-ProductId" value="@item.ProductId" />
        <input type="hidden" name="ListImage[@k].ImageUrl" class="ListImage-ImageUrl" value="@item.ImageUrl" />
        <tr>
            <td class="text-center">@i</td>
            <td class="text-center"><img src="@item.ImageUrl" style="height:100px; width:200px;" /></td>
            <td> <a class="detail-btndelete btn btn-danger " data-productimageid="@item.ProductImageId">Xóa</a></td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="3" class="text-center">
            Chưa có hình ảnh nào cho sản phẩm này <br />
            Vui lòng "chọn tệp" rồi nhấn nút "Tải lên"!
        </td>
    </tr>
}


