@model ReportSupInforViewModel
@if (Model != null)
{
    <h3 style="color: #6bdf71;">Thông tin nhà cung cấp</h3>
    <div class="form-horizontal">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                @Html.LabelFor(model => model.SupplierName, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                    @Html.DisplayFor(m => m.SupplierName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Phone, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                <div class="col-md-98 col-sm-8 col-xs-12 control-label text-left">
                    @Html.DisplayFor(m => m.Phone)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                    @Html.DisplayFor(m => m.Email)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NoPhaiTra, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                    @Html.DisplayFor(m => m.NoPhaiTra)
                </div>
            </div>

        </div>

        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                @Html.LabelFor(model => model.ProvinceId, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                    @Html.DisplayFor(m => m.ProvinceName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DistrictId, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                    @Html.DisplayFor(m => m.DistrictName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Address, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                    @Html.DisplayFor(m => m.Address)
                </div>
            </div>

          @*  <div class="form-group">
                @Html.LabelFor(model => model.BankName, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                    @Html.DisplayFor(m => m.BankName)
                </div>
            </div>
             <div class="form-group">
                @Html.LabelFor(model => model.BankAccountNumber, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                    @Html.DisplayFor(m => m.BankAccountNumber)
                </div>
            </div>*@
           @*  <div class="form-group">
                @Html.LabelFor(model => model.BankOwner, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                    @Html.DisplayFor(m => m.BankOwner)
                </div>
            </div>*@
        </div>
    </div>
    <hr class="custom" style="clear:both;width: 97%;margin: auto auto;">
    <div class="form-horizontal">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                @Html.LabelFor(model => model.SoDuNoDauKy, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                    @Html.DisplayFor(m => m.SoDuNoDauKy)
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                @Html.LabelFor(model => model.SoDuNoCuoiKy, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                    @Html.DisplayFor(m => m.SoDuNoCuoiKy)
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="SupplierId" id="SupplierId" value="@Model.SupplierId" />
}

