@model CategoryModel


@{
    ViewBag.Title = "Cập nhật";
}

<hr class="custom">
<div class="dxpnlControl_Metropolis" style="font-family:Helvetica;font-size:14px;width:100%;">
    <div class="row head">
        <div class="col-md-3 col-sm-12 col-xs-12"><h4 style="color:#6BABDF;">@ViewBag.Title</h4></div>
    </div>
    <hr class="custom">
    @using (Html.BeginForm("Edit", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.HiddenFor(m => m.CategoryId)
        @Html.Hidden("RootId")
        @Html.Hidden("ParentId")
        <div class="editor-field has-ck">
            <div class="content">
                <ul id="tabExample1" class="nav nav-tabs">
                    <li class="active"><a href="#vietnamese1" data-toggle="tab">Tiếng việt</a></li>
                    <li class=""><a href="#english1" data-toggle="tab">Tiếng anh</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in form-horizontal" id="vietnamese1">
                        @if (ViewBag.IsVisibleDropdownlist)
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.Parent, new { @class = "col-md-3 col-sm-3 col-xs-12 control-label" })
                                <div class="col-md-5 col-sm-5 col-xs-12 control-label">
                                    @Html.DropDownList("Root", ViewBag.Parent as SelectList,null, new { @class = "form-control" })

                                    @Html.ValidationMessageFor(model => model.Parent)
                                </div>
                            </div>
                        }
                        else
                        {
                            <div style="display:none;clear:both;">
                                @Html.DropDownList("Root", ViewBag.Parent as SelectList, new { style = "display:none;" })
                            </div>
                        }
                        <div class="form-group">
                            @Html.LabelFor(model => model.CategoryNameEn, new { @class = "col-md-3 col-sm-3 col-xs-12 control-label" })
                            <div class="col-md-5 col-sm-5 col-xs-12 control-label">
                                <table class="dxeTextBoxSys dxeTextBox_Metropolis dxeTextBoxDefaultWidthSys text-with-line">
                                    <tbody>
                                        <tr>
                                            <td class="dxic" style="width:100%;">
                                                @Html.TextBoxFor(m => m.CategoryNameEn, new { @class = "dxeEditArea_Metropolis dxeEditAreaSys fullLineTextbox" })
                                                @Html.ValidationMessageFor(model => model.CategoryNameEn)
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CategoryName, new { @class = "col-md-3 col-sm-3 col-xs-12 control-label" })
                            <div class="col-md-5 col-sm-5 col-xs-12 control-label">
                                <table class="dxeTextBoxSys dxeTextBox_Metropolis dxeTextBoxDefaultWidthSys text-with-line">
                                    <tbody>
                                        <tr>
                                            <td class="dxic" style="width:100%;">
                                                @Html.TextBoxFor(m => m.CategoryName, new { @class = "dxeEditArea_Metropolis dxeEditAreaSys fullLineTextbox" })
                                                @Html.ValidationMessageFor(model => model.CategoryName)
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        @if (ViewBag.isUseOrderBy)
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.OrderBy, new { @class = "col-md-3 col-sm-3 col-xs-12 control-label" })
                                <div class="col-md-5 col-sm-5 col-xs-12 control-label">
                                    <table class="dxeTextBoxSys dxeTextBox_Metropolis dxeTextBoxDefaultWidthSys text-with-line">
                                        <tbody>
                                            <tr>
                                                <td class="dxic" style="width:100%;">
                                                    @Html.TextBoxFor(m => m.OrderBy, new { @class = "dxeEditArea_Metropolis dxeEditAreaSys fullLineTextbox" })
                                                    @Html.ValidationMessageFor(model => model.OrderBy)
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                        else
                        {
                            @Html.HiddenFor(m => m.OrderBy)
                        }

                        @if (ViewBag.isUseIsHasChildren)
                        {

                            <div class="form-group">
                                @Html.LabelFor(model => model.isHasChildren, new { @class = "col-md-3 col-sm-3 col-xs-12 control-label" })
                                <div class="col-md-5 col-sm-5 col-xs-12 control-label">
                                    <table class="dxeTextBoxSys dxeTextBox_Metropolis dxeTextBoxDefaultWidthSys text-with-line">
                                        <tbody>
                                            <tr>
                                                <td class="dxic" style="width:100%;">
                                                    @Html.EditorFor(m => m.isHasChildren, new { @class = "dxeEditArea_Metropolis dxeEditAreaSys fullLineTextbox" })
                                                    @Html.ValidationMessageFor(model => model.isHasChildren)
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                        else
                        {
                            @Html.HiddenFor(model => model.isHasChildren)
                        }

                        @if (ViewBag.isUseImageUrl)
                        {

                            <div class="form-group">
                                @Html.LabelFor(model => model.ImageUrl, new { @class = "col-md-3 col-sm-3 col-xs-12 control-label" })
                                <div class="col-md-5 col-sm-5 col-xs-12 control-label">

                                    <input type="file" id="file" name="file" />
                                </div>
                            </div>
                        }
                        else
                        {
                            @Html.HiddenFor(m => m.ImageUrl)
                        }

                                                @if (ViewBag.isUseDescription)
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, new { @class = "col-md-3 col-sm-3 col-xs-12 control-label" })
                                <div class="col-md-5 col-sm-5 col-xs-12 control-label">
                                    <table class="dxeTextBoxSys dxeTextBox_Metropolis dxeTextBoxDefaultWidthSys text-with-line">
                                        <tbody>
                                            <tr>
                                                <td class="dxic" style="width:100%;">
                                                    @Html.TextBoxFor(m => m.Description, new { @class = "dxeEditArea_Metropolis dxeEditAreaSys fullLineTextbox" })
                                                    @Html.ValidationMessageFor(model => model.Description)
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                        else
                        {
                            @Html.HiddenFor(model => model.Description)
                        }

                        @if (ViewBag.isUseKeywords)
                        {

                            <div class="form-group">
                                @Html.LabelFor(model => model.Keywords, new { @class = "col-md-3 col-sm-3 col-xs-12 control-label" })
                                <div class="col-md-5 col-sm-5 col-xs-12 control-label">
                                    <table class="dxeTextBoxSys dxeTextBox_Metropolis dxeTextBoxDefaultWidthSys text-with-line">
                                        <tbody>
                                            <tr>
                                                <td class="dxic" style="width:100%;">
                                                    @Html.TextBoxFor(m => m.Keywords, new { @class = "dxeEditArea_Metropolis dxeEditAreaSys fullLineTextbox" })
                                                    @Html.ValidationMessageFor(model => model.Keywords)
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                        else
                        {
                            @Html.HiddenFor(model => model.Keywords)
                        }



                        @if (ViewBag.isUseisDisplayOnHomePage)
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.isDisplayOnHomePage, new { @class = "col-md-3 col-sm-3 col-xs-12 control-label" })
                                <div class="col-md-5 col-sm-5 col-xs-12 control-label text-left">
                                    @Html.CheckBox("isDisplayOnHomePage")
                                    @Html.ValidationMessageFor(model => model.isDisplayOnHomePage)
                                </div>
                            </div>
                        }
                        else
                        {
                            @Html.HiddenFor(model => model.isDisplayOnHomePage)
                        }
                    </div>
                    <div class="tab-pane fade  form-horizontal" id="english1">

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.CategoryNameEn, new { @class = "col-md-3 col-sm-3 col-xs-12 control-label" })
                            <div class="col-md-5 col-sm-5 col-xs-12 control-label">
                                <table class="dxeTextBoxSys dxeTextBox_Metropolis dxeTextBoxDefaultWidthSys text-with-line">
                                    <tbody>
                                        <tr>
                                            <td class="dxic" style="width:100%;">
                                                @Html.TextBoxFor(m => m.CategoryNameEn, new { @class = "dxeEditArea_Metropolis dxeEditAreaSys fullLineTextbox" })
                                                @Html.ValidationMessageFor(model => model.CategoryNameEn)
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>*@


                        @if (ViewBag.isUseDescription)
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.DescriptionEn, new { @class = "col-md-3 col-sm-3 col-xs-12 control-label" })
                                <div class="col-md-5 col-sm-5 col-xs-12 control-label">
                                    <table class="dxeTextBoxSys dxeTextBox_Metropolis dxeTextBoxDefaultWidthSys text-with-line">
                                        <tbody>
                                            <tr>
                                                <td class="dxic" style="width:100%;">
                                                    @Html.TextBoxFor(m => m.DescriptionEn, new { @class = "dxeEditArea_Metropolis dxeEditAreaSys fullLineTextbox" })
                                                    @Html.ValidationMessageFor(model => model.DescriptionEn)
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                        else
                        {
                            @Html.HiddenFor(m => m.DescriptionEn)
                        }
                        @if (ViewBag.isUseKeywords)
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.KeywordsEn, new { @class = "col-md-3 col-sm-3 col-xs-12 control-label" })
                                <div class="col-md-5 col-sm-5 col-xs-12 control-label">
                                    <table class="dxeTextBoxSys dxeTextBox_Metropolis dxeTextBoxDefaultWidthSys text-with-line">
                                        <tbody>
                                            <tr>
                                                <td class="dxic" style="width:100%;">
                                                    @Html.TextBoxFor(m => m.KeywordsEn, new { @class = "dxeEditArea_Metropolis dxeEditAreaSys fullLineTextbox" })
                                                    @Html.ValidationMessageFor(model => model.KeywordsEn)
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                        else
                        {
                            @Html.HiddenFor(m => m.KeywordsEn)
                        }
                    </div>
                    <hr class="custom" />
                    <div class="form-horizontal col-md-offset-3 col-sm-offset-3 col-xs-offset-12 ">
                        @Html.ActionLink("Hủy", "Index", new { id = ViewBag.RootId }, new { @class = "btn btn-default custom-button minw100" })
                        <input type="submit" value="Lưu" class="btn btn-warning custom-button minw100" />
                    </div>
                </div>

            </div>

        </div>
    }

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
