@model IEnumerable<EntityModels.SupplierModel>

@{
    ViewBag.Title = "Danh sách nhà cung cấp";
}

<hr class="custom">
<div class="row head">
    <div class="col-md-3 col-sm-12 col-xs-12"><h4 style="color:#6BABDF;">@ViewBag.Title</h4></div>
</div>
<hr class="custom">
<table class="table table-bordered table-striped table-hover dataTable no-footer">
    <thead>
        <tr class="warning">
            <th class="text-center">
                TT
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Actived)
            </th>
            <th class="actions text-center">@Resources.LanguageResource.Actions</th>
    </thead>
    <tbody>
        @{ int i = 0;}
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td class="text-center">
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td class="text-center">
                    @if (item.Actived == true)
                    {
                        <i class="glyphicon glyphicon-ok"></i>
                    }
                    else
                    {
                        <i class="glyphicon glyphicon-remove"></i>
                    }
                </td>
                <td class="text-center">
                    @Html.ActionLink("Xem", "Details", new { id = item.SupplierId}, new { @class = "btn btn-default btn-sm" })
                    @Html.ActionLink("Sửa", "Edit", new { id = item.SupplierId }, new { @class = "btn btn-default btn-warning btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
<p class="text-right has-btn-add-new" style="margin-top: 4px;">
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-default btn-warning" })
</p>
@*<form action="/Supplier/Export" method="post" enctype ="multipart/form-data">
        <span style="color : red;"> @ViewBag.Resuilt </span> <br />
        <input class = "btn btn-default btn-warning"  type="submit" value="Export to Excel"/>
    </form>
    @using (Html.BeginForm("import", "Supplier", FormMethod.Post, new { enctype="multipart/form-data"}))
    {
        <p>Chọn file Excel:</p><input type="file" name="file" />
        <br />
        <input type="submit"  value="Import"/>
    }
*@