@model ChangePasswordViewModel
<div id="modalEditPassword">
    <hr class="custom">
    <div class="row head">
        <div class="col-md-3 col-sm-12 col-xs-12"><h4 style="color:#6BABDF;">Đổi mật khẩu</h4></div>
    </div>
    <hr class="custom">
    <div id="alertMessage1">
        @if (ViewBag.DisplayErrorMessage == true)
        {
            <div class="@ViewBag.CssClass">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>@ViewBag.SortMessage !</strong> @ViewBag.Message
            </div>
        }
    </div>
    @using (Ajax.BeginForm("EditPassword", "Profile", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "SUCCESS" }, new { @class = "form-horizontal", @id = "frmEditPassword" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="input-area form-horizontal">
            <div class="form-group">
                <label class="col-md-3 col-sm-4 col-xs-12 control-label">
                    @Resources.LanguageResource.AccountModel_CurrentPassword (<span class="color-red">*</span>)
                </label>
                <div class="col-md-4 col-sm-3 col-xs-12 control-label text-left">
                    @Html.PasswordFor(model => model.Password, new { @class = " form-control" })
                    <div style="color:red">@Html.ValidationMessageFor(model => model.Password)</div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 col-sm-4 col-xs-12 control-label">
                    @Resources.LanguageResource.AccountModel_NewPassword (<span class="color-red">*</span>)
                </label>
                <div class="col-md-4 col-sm-3 col-xs-12 control-label text-left">
                    @Html.PasswordFor(model => model.NewPassword, new { @class = " form-control" })
                    <div style="color:red">@Html.ValidationMessageFor(model => model.NewPassword)</div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 col-sm-4 col-xs-12 control-label">
                    @Resources.LanguageResource.AccountModel_RetypeNewPassword (<span class="color-red">*</span>)
                </label>
                <div class="col-md-4 col-sm-3 col-xs-12 control-label text-left">
                    @Html.PasswordFor(model => model.retypeNewPassword, new { @class = " form-control" })
                    <div style="color:red">@Html.ValidationMessageFor(model => model.retypeNewPassword)</div>
                </div>
            </div>


            <hr class="custom">
            <div class="form-group">
                <div class="col-md-offset-3 col-sm-offset-4 col-md-4 col-sm-3 col-xs-12 control-label text-left">
                    @Html.ActionLink("Hủy", "Index", "Home", null, new { @class = "btn btn-default custom-button minw100" })
                    <input type="submit" id="btnEditPassword" class="btn btn-default custom-button btn-warning minw100" value="@Resources.LanguageResource.Save" />
                </div>
            </div>
        </div>
    }
</div>