@model List<Daily_ChicCut_Pre_OrderDetailViewModel>
@{
    int i = 0;
    int k = -1;
}
@if (Model.Count > 0 && Model != null)
{
    foreach (var item in Model)
    {
        i++;
        k++;
        <tr>
            <td style="width: 40px" class="text-center">
                @i
                <input type="hidden" name="details[@k].STT" class="details-STT" value="@i">
                <input type="hidden" name="details[@k].COGS" class="details-COGS" value="@item.COGS" data-row="@k">
                <input type="hidden" name="details[@k].UnitCOGS" class="details-UnitCOGS" value="@item.UnitCOGS" data-row="@k">
                <input type="hidden" name="details[@k].ServiceCategoryId" class="details-ServiceCategoryId" value="@item.ServiceCategoryId" data-row="@k">
                <input type="hidden" name="details[@k].PreOrderId" class="details-PreOrderId" value="@item.PreOrderId" data-row="@k">
            </td>
            <td style="width: 200px">
                <span>@item.ServiceName</span>
                <input type="hidden" name="details[@k].ServiceName" class="details-ServiceName" value="@item.ServiceName">
            </td>
            <td style="width: 200px">
                <input type="text" disabled="" class="form-control text-right Price" name="details[@k].Price" data-row="@k" value="@string.Format("{0:n0} - {1:n0}", item.MinPrice, item.MaxPrice)" style="font-size: 11px;">
                <input type="hidden" name="details[@k].MinPrice" class="details-MinPrice form-control text-right" data-row="@k" value="@item.MinPrice">
                <input type="hidden" name="details[@k].MaxPrice" class="details-MaxPrice form-control text-right" data-row="@k" value="@item.MaxPrice">
            </td>
            <td style="width: 50px">
                <input type="text" name="details[@k].Qty" class="details-Qty details-Qty-@k form-control text-right" data-row="@k" value="@item.Qty)">
            </td>
            <td style="width: 200px">
                <input type="text" disabled="" class="form-control text-right UnitPrice" name="details[@k].UnitPrice" data-row="@k" value="@string.Format("{0:n0} - {1:n0}", item.MinUnitPrice, item.MaxUnitPrice)" style="font-size: 11px;">
                <input type="hidden" name="details[@k].MinUnitPrice" class="details-MinUnitPrice form-control text-right" data-row="@k" value="@item.MinUnitPrice">
                <input type="hidden" name="details[@k].MaxUnitPrice" class="details-MaxUnitPrice form-control text-right" data-row="@k" value="@item.MaxUnitPrice">
            </td>
            <td style="width: 100px; text-align: center;">
                <a href="#" class="details-btndelete btn btn-danger " data-id="@item.ServiceCategoryId">Xóa</a>
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="6" class="color-red text-center">Chưa có loại dịch vụ nào được chọn!</td>
    </tr>
}
<script>
    //$(".Price").number(true);
    //$(".unit-price").number(true); 
    $(".details-Qty").number(true);
    $("#BillDiscount").number(true);
</script>

