@model SupplierModel
@{
    ViewBag.Title = "Xem chi tiết";
}
<hr class="custom">
<div class="dxpnlControl_Metropolis" style="font-family:Helvetica;font-size:14px;width:100%;">
    <div class="row head">
        <div class="col-md-3 col-sm-12 col-xs-12"><h4 style="color:#6BABDF;">@ViewBag.Title</h4></div>
    </div>
 <hr class="custom">
     @using (Html.BeginForm("Details", "Supplier", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="row">
            <div class=" col-md-6">
                <div class="panel panel-default" style=" min-height: 195px;">
                    <div class="panel-body form-horizontal">
                        <div class="form-group">
                             @Html.LabelFor(model => model.SupplierCode, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(m => m.SupplierCode)
                            </div>
                        </div>
                        <div class="form-group">
                             @Html.LabelFor(model => model.SupplierName, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(m => m.SupplierName)
                            </div>
                        </div>
                        <div class="form-group">
                             @Html.LabelFor(model => model.Phone, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(m => m.Phone)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(m => m.Email)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.TaxCode, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(m => m.TaxCode)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.hasInvoice, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12  control-label text-left">
                                  @if (Model.hasInvoice == true)
                                    {
                                        <i class="glyphicon glyphicon-ok"></i>
                                    }
                                    else
                                    {
                                        <i class="glyphicon glyphicon-remove"></i>
                                    }
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.isPersonal, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12  control-label text-left">
                                  @if (Model.isPersonal == true)
                                    {
                                        <i class="glyphicon glyphicon-ok"></i>
                                    }
                                    else
                                    {
                                        <i class="glyphicon glyphicon-remove"></i>
                                    }
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProvinceId, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(m => m.ProvinceModel.ProvinceName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.DistrictId, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(m => m.DistrictModel.DistrictName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Address, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(m => m.Address)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Actived, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                  @if (Model.Actived == true)
                                    {
                                        <i class="glyphicon glyphicon-ok"></i>
                                    }
                                    else
                                    {
                                        <i class="glyphicon glyphicon-remove"></i>
                                    }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-md-6">
               <div class="panel panel-default" style=" min-height: 195px;">
                <div class="panel-body form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12 control-label text-left">
                                <label>Dành cho cá nhân</label>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.IdentityCard, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(m => m.IdentityCard)
                            </div>
                        </div>
                        <hr class="custom">
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12 control-label text-left">
                                <label>Thông tin ngân hàng</label>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.BankName, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(m => m.BankName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.BankBranch, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(m => m.BankBranch)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.BankAccountNumber, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(m => m.BankAccountNumber)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.BankOwner, new { @class = "col-md-4 col-sm-4 col-xs-12 control-label" })
                            <div class="col-md-8 col-sm-8 col-xs-12 control-label text-left">
                                @Html.DisplayFor(m => m.BankOwner)
                            </div>
                        </div>
                </div>
                </div>
               <div class="panel panel-default" style="padding: 10px 25px 5px 25px;">
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Note, new { @class = "col-md-2 col-sm-2 col-xs-12 control-label" })
                            <div class="col-md-10  col-sm-10 col-xs-12 control-label text-left">
                                @Html.DisplayFor(m => m.Note)
                            </div>
                        </div>
                  </div>
            </div>
        </div>
      <hr class="custom">
      <div class="form-horizontal col-md-offset-5 col-sm-offset-5">
            @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-default custom-button minw100" })
            @Html.ActionLink("Sửa", "Edit", new { id = Model.SupplierId}, new { @class = "btn btn-warning custom-button minw100" })
        </div>

     }

</div>
@section scripts{
    <script>
        $(document).on("change", "#ProvinceId", function () {
            var provinceIdFromDropdownList = $(this).val();
            $.ajax({
                type: "POST",
                url: "/Supplier/GetDistrictBy",
                data: {
                    ProvinceId: provinceIdFromDropdownList
                },
                dataType: "json",
                success: function (jsonData) {
                    var listItems = "";

                    $.each(jsonData, function (i, item) {
                        listItems += "<option value='" + item.Id + "'>" + item.Name + "</option>";
                    });

                    $("#DistrictId").html(listItems);
                }
            });
            return false;
        });
    </script>    
   }